{%- if include.bookmark.url -%}
{% assign tag_classes = include.bookmark.tags | join: ',' | downcase | prepend: ',' | replace: ',', '$tag-' | replace: ' ', '-' | replace_first: '$', '' | split: '$' | join: ' ' %}
<dt class='list-item {{ tag_classes }}'>{% if tag_classes contains 'tag-favorite' %}<span class='favorite'>&starf;&nbsp;</span>{% endif %}<a href='{{ include.bookmark.url }}'>{{ include.bookmark.title }}</a>
  {%- if include.bookmark.authors -%}, <small class='side-comment'>by {{ include.bookmark.authors | join: ", " }}</small>{%- endif -%}</dt>
{%- if include.bookmark.tags.size > 0 -%}
<dd class='{{ tag_classes }}'>
{%- assign sorted_tags = include.bookmark.tags | sort -%}
{%- for tag in sorted_tags -%}
  <a href='#{{ tag }}' class='tag'><small>{{ tag }}</small></a>{% if forloop.last == false %}, {% endif %}
{%- endfor -%}
</dd>
{%- endif -%}
{%- if include.bookmark.description -%}<dd class='excerpt {{ tag_classes }}'>{{ include.bookmark.description | markdownify }}</dd>{%- endif -%}
{%- endif -%}