{% if include.bookmark.url %}
<dt><a href='{{ include.bookmark.url }}'>{{ include.bookmark.title }}</a>
  {% if include.bookmark.authors %}, <small class='side-comment'>by {{ include.bookmark.authors | join: ", " }}</small>{% endif %}
  {% if include.bookmark.tags.size > 0 %}
  &nbsp;
  {% for tag in include.bookmark.tags %}
  <small class='tag'>{{ tag }}</small>{% if forloop.last == false %}, {% endif %}
  {% endfor %}
  {% endif %}</dt>
{% if include.bookmark.description %}<dd>{{ include.bookmark.description }}</dd>{% endif %}
{% endif %}