<footer>
  <div class='container'>
    {% capture page_license %}{{ page.license }}{% endcapture %}
    {% include license.html license=page_license size="big" %}

    <address>
      <ul>
        <li><span class='heading'>Find me at</span></li>
        {% for profile in site.data.social %}
        <li><a href='{{ profile.url }}'>
          <img src='{{ profile.icon }}' alt="{{ profile.alt }}" class='external_profile'>
        </a></li>
        {% endfor %}
      </ul>
    </address>
  </div>
</footer>