<footer>
  <div class='container'>
    {% for license in site.data.licenses %}
      {% if license.id == page.license %}
        <a rel="license" href="{{ license.link }}"><img alt="{{ license.name }}" style="border-width:0" src="{{ license.image }}" /></a>
        {% break %}
      {% endif %}
    {% endfor %}
    <address>
      <span>Find my stuff at</span>
      <ul>
        <li><a href='https://sbrubbles.org/feed.xml'>
          <img src='/assets/images/rss.svg' alt="This site's feed" class='profile'>
        </a></li>
        <li><a href='https://github.com/hanjos'>
          <img src='/assets/images/github-circle.svg' alt='Github' class='profile'>
        </a></li>
        <li><a href='https://steamcommunity.com/id/topunchgarlic'>
          <img src='/assets/images/steam.svg' alt='Steam' class='profile'>
        </a></li>
      </ul>
    </address>
  </div>
</footer>