<header>
  <div class='container'>
    <a href='/'>
      <img src='/assets/images/profile.jpg' alt='profile image' class='main'>
    </a>
    <nav>
      <ul>
      {% for item in site.data.navigation %}
        <li><a href='{{ item.link }}' class='navigation-link {% if page.url == item.link %}current{% endif %}'>
          <span class='only-md'>{{ item.name }}</span>
          <span class='only-sm'>{% include {{ item.icon }} %}</span>
        </a></li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>