<header>
  <div class='container'>
    <a href='/'>
      <img src='/assets/images/profile.jpg' alt='profile image' class='main'>
    </a>
    <nav>
      <ul>
      {% for item in site.data.navigation %}
        <li><a href='{{ item.link }}' {% if page.url == item.link %}class='current'{% endif %}>
          <span class='only-md'>{{ item.name }}&nbsp;</span><img src='{{ item.icon }}' alt='{{ item.name }}' title='{{ item.name }}' class='navigation-link only-sm'>
        </a></li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>