<div class='post-entry'>
  <small class='meta'><time datetime='{{ include.post.date | date_to_xmlschema }}'>{{ include.post.date | date: "%d %b %Y" }}</time>: </small>
  <a href='{{ include.post.url }}'>{{ include.post.title }}</a>
  {% if include.show_tags %}
    {% if include.post.tags.size > 0 %}
    <div class='meta'>
      {% for tag in include.post.tags %}
      <a href='/tags.html#tag-{{ tag }}' class='tag'><small>{{ tag }}</small></a>
      {% endfor %}
    </div>
    {% endif %}
  {% endif %}
  {% if include.show_excerpt %}
  <div class='excerpt'>
    {{ post.excerpt }}
  </div>
  {% endif %}
</div>