<div class='search-widget'>
  <div class='search-bar'>
    <input type='text' id='search-input' name='search-input' placeholder='Search by tag'>
    <button id='search-button' type='button'>
      <img src='/assets/images/magnify.svg' alt='Search by tag' width='20' />
    </button>
    <button id='clear-button' type='button'>
      <img src='/assets/images/close.svg' alt='Clear search' width='20' />
    </button>
  </div>
  <small id='search-count' class='side-comment'>{{ include.count }} entries</small>
</div>