$sans-serif-font: 
  -apple-system, 
  BlinkMacSystemFont, 
  "Segoe UI", 
  Roboto, 
  Helvetica, 
  Arial, 
  sans-serif, 
  "Apple Color Emoji", 
  "Segoe UI Emoji", 
  "Segoe UI Symbol";

$serif-font:
  Cambria, 
  Times, 
  Times New Roman, 
  serif;

$monospace-font:
  SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;

$sidebar-link-color: #f3732a;
$code-color: #f0f0f0;

$sidebar-width: 150px;
$max-main-width: 600px;
$mid-screen-width: $sidebar-width + $max-main-width;

$font-size: 16px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* helps to stick the footer */
}

body {
  margin: 0 auto;

  font-family: $sans-serif-font;

  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
}

h1 {
  font-size: 2em; /* for some reason, standard h1 is smaller than h2 */
}

pre, code {
  white-space: pre-wrap; /* pre doesn't wrap by default */
  
  font-family: $monospace-font;
    
  font-size: 0.9em;

  background-color: $code-color;
}

pre {
  padding: 0.8em;
}

blockquote {
  margin: 1em;
  padding: 1em;

  border-left: 0.4em solid darken($code-color, 20%);
  background-color: $code-color;

  font-style: italic;

  p {
    margin: 0;
  }
}

figure {
  padding: 1em 0;

  figcaption {
    font-size: 0.8em;
    color: gray;
  }
}

dl {
  margin: 0;

  dt {
    margin: 0;
    padding-top: 1em; /* spacing between definitions */

    a {
      font-weight: bold;
    }
  }

  dd {
    font-size: 0.9em;
  }
}

button { /* centering any content within */
  display: flex;
  align-items: center;
}

.center-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 0 auto;

  img {
    width: 100%;
  }
}

.side-comment {
  color: gray;
}

.hidden { /* useful to filter out elements in a list */
  display: none;
}