$white: #ffffff;
$very-light-gray: #c0c0c0;
$light-gray: #808080;
$gray: #555555;
$dark-gray: #424242;
$very-dark-gray: #303030;
$black: #000000;

$cyan: #00cccc; // Robin egg blue
$blue: #0000ff;
$teal: #008080;
$purple: #4b0082; // indigo
$green: #00a000;
$red: #cc6666; // fuzzy wuzzy
$brown: #a67b5b;
$orange: #ff8f00; // Princeton orange
$light-orange: #f0c674;
$yellow: #ffcc33; // sunglow

.highlight .hll { background-color: $very-light-gray; }
.highlight  { background: $very-light-gray; }
.highlight .c { color: $light-gray; font-style: italic } /* Comment */
.highlight .err { border: 1px solid $red; } /* Error */
.highlight .k { color: $blue; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: $light-gray; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $brown; } /* Comment.Preproc */
.highlight .c1 { color: $light-gray; font-style: italic } /* Comment.Single */
.highlight .cs { color: $light-gray; font-style: italic } /* Comment.Special */
.highlight .gd { color: darken($red, 10%); } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $red } /* Generic.Error */
.highlight .gh { color: $blue; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: $green; } /* Generic.Inserted */
.highlight .go { color: $light-gray; } /* Generic.Output */
.highlight .gp { color: $blue; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $purple; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: $blue; } /* Generic.Traceback */
.highlight .kc { color: $blue; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: $blue; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: $blue; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: $blue; } /* Keyword.Pseudo */
.highlight .kr { color: $blue; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $blue; } /* Keyword.Type */
.highlight .m { color: $orange; font-style: italic; } /* Literal.Number */
.highlight .s { color: $green; font-style: italic; } /* Literal.String */
.highlight .na { color: $brown; } /* Name.Attribute */
.highlight .nb { color: $green; } /* Name.Builtin */
.highlight .nc { color: $blue; font-weight: bold; } /* Name.Class */
.highlight .no { color: $orange; font-style: italic; } /* Name.Constant */
.highlight .nd { color: $brown; } /* Name.Decorator */
.highlight .ni { color: $gray; font-weight: bold } /* Name.Entity */
.highlight .ne { color: $red; font-weight: bold } /* Name.Exception */
.highlight .nf { color: $blue; } /* Name.Function */
.highlight .nl { color: $yellow; } /* Name.Label */
.highlight .nn { color: $blue; } /* Name.Namespace */
.highlight .nt { color: $teal; } /* Name.Tag */
.highlight .nv { color: darken($blue, 10%); } /* Name.Variable */
.highlight .ow { color: $blue; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: $orange; font-style: italic; } /* Literal.Number.Float */
.highlight .mh { color: $orange; font-style: italic; } /* Literal.Number.Hex */
.highlight .mi { color: $orange; font-style: italic; } /* Literal.Number.Integer */
.highlight .mo { color: $orange; font-style: italic; } /* Literal.Number.Oct */
.highlight .sb { color: $green; font-style: italic; } /* Literal.String.Backtick */
.highlight .sc { color: $green; font-style: italic; } /* Literal.String.Char */
.highlight .sd { color: $green; font-style: italic; } /* Literal.String.Doc */
.highlight .s2 { color: $green; font-style: italic; } /* Literal.String.Double */
.highlight .se { color: darken($green, 10%); font-style: italic; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: $green; } /* Literal.String.Heredoc */
.highlight .si { color: $teal; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: $green; font-style: italic; } /* Literal.String.Other */
.highlight .sr { color: lighten($purple, 10%); } /* Literal.String.Regex */
.highlight .s1 { color: $green; font-style: italic; } /* Literal.String.Single */
.highlight .ss { color: $green; font-style: italic; } /* Literal.String.Symbol */
.highlight .bp { color: $green; } /* Name.Builtin.Pseudo */
.highlight .vc { color: $black; } /* Name.Variable.Class */
.highlight .vg { color: $very-dark-gray; } /* Name.Variable.Global */
.highlight .vi { color: $black; } /* Name.Variable.Instance */
.highlight .il { color: $orange; font-style: italic; } /* Literal.Number.Integer.Long */