$search-input-padding: 0.5em;

.search-widget {
  display: flex;
  flex-flow: column nowrap;

  .search-bar {
    display: flex;
    flex-flow: row nowrap;

    input {
      width: 100%;
      padding: 0 $search-input-padding;
    }
  }

  #search-count {
    padding-left: $search-input-padding;
  }
}