@import 'general';

$search-input-padding: 0.5em;

.search-widget {
  display: flex;
  flex-flow: column nowrap;

  .search-bar {
    display: flex;
    flex-flow: row nowrap;

    input {
      width: 100%;
      padding: 0 $search-input-padding;
    }
  }

  #search-count {
    padding-left: $search-input-padding;
  }
}

.tag-cloud {
  text-align: center;
}

.tag {
  color: $sidebar-link-color;

  &.tag-size-0 {
    font-size: $font-size * 0.6;
  }

  &.tag-size-1 {
    font-size: $font-size * 0.8;
  }

  &.tag-size-2 {
    font-size: $font-size;
  }

  &.tag-size-3 {
    font-size: $font-size * 1.2;
  }

  &.tag-size-4 {
    font-size: $font-size * 1.4;
  }

  &.tag-size-5 {
    font-size: $font-size * 1.6;
  }

  &.tag-size-6 {
    font-size: $font-size * 1.8;
  }

  &.tag-size-7 {
    font-size: $font-size * 2;
  }
}