body > header nav {
  font-size: 1.2em;
  
  .navigation-link.current {
  	font-weight: bold;
  	color: $sidebar-link-color; /* same orange as in the profile image */

    svg>path {
      fill: $sidebar-link-color; /* same orange as in the profile image */
    }
  }

  a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}