---
---

@import 'general';
@import 'posts';
@import 'sidebar';
@import 'search';
@import 'highlighter';

/* conforming to mobile-first dogma */
.only-sm {
  display: initial;
}

.only-md {
  display: none;
}

body {
  display: flex;
  flex-flow: column nowrap;

  > header,
  > footer {
    width: 100%; /* no height, flex takes care of that */

    flex-shrink: 0; /* sticks the footer */

    padding: 0.5em 0;

    box-shadow: 0 1px 5px grey;
  }

  > header {
    li {
      padding-left: 1em;
    }

    .navigation-link {
      font-size: 1.5em;
    }

    .nav-icon {
      width: 3em;
      height: 3em;
    }
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    /* lining up with main */
    margin: 0 auto;
    padding: 0 1em;

    * {
      margin: 0; /* necessary or alignment goes out of whack */

      text-decoration: none; /* no underlines here */
    }

    .profile {
      display: flex;
    }

    nav ul {
      display: flex;
    }

    address ul {
      font-style: normal;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .heading {
        padding-right: 0.3em;
      }
    }

    figure {
      padding: 0;

      img {
        width: 100%;
      }
    }

    img.main {
      width: 3em;
      height: 3em;

      border-radius: 1.5em;
    }

    .external_profile svg {
      width: 30px;
      height: 30px;
    }

    li {
      list-style: none;
    }
  }

  > main {
    max-width: $max-main-width;

    margin: 0 auto; /* centering */
    padding: 0 2em 2em 2em;

    text-align: justify;

    overflow-y: auto;

    flex: 1 0 auto;
    align-self: center; /* needed for IE11 to center with flex */
  }
}

img.banner {
  display: block;
  margin: auto;
  height: auto;
  padding: 1em 0;
}

@media (min-width: $mid-screen-width) {
  .only-sm {
    display: none;
  }

  .only-md {
    display: initial;
  }

  body {
    display: block; /* flex was too finicky */
    max-width: $mid-screen-width + $sidebar-width;

    margin: 0 auto;

    > header {
      /* undoing mobile-first brainwashing */
      width: $sidebar-width;

      padding: 2em 0;

      box-shadow: none;

      float: left; /* good ol' float to the rescue! */

      > .container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-end;

        /* lining up with main */
        max-width: $sidebar-width;
        margin: 0;

        .navigation-link {
          font-size: 1em;
        }

        nav ul {
          display: flex; /* unflattening */
          flex-flow: column;
          align-items: flex-end;

          margin: 0; /* necessary or alignment goes out of whack */
          padding: 0;

          text-decoration: none; /* no underlines here */
        }

        img.main {
          width: 7.2em;
          height: 7.2em;

          padding: 0;
          border-radius: 1.5em;
        }

        nav {
          padding: 1em 0;
        }

        li {
          list-style: none;

          padding: 0 0 0.5em 1em;
          text-align: right;
        }
      }
    }

    > footer {
      box-shadow: 0 -5px 5px -5px gray;
    }

    > main {
      max-width: $mid-screen-width;
      min-height: 25em; /* enough space for a floating header not to interfere with the footer */

      margin-left: $sidebar-width; /* header width */
      padding: 1em 2em 2em 1em; /* no need for this big a left padding */

      overflow-y: auto;
    }
  }
}