/* general adjustments */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* helps to stick the footer */
}

body {
  margin: 0 auto;

  font-family: /* sans-serif system fonts */
    -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Helvetica, 
    Arial, 
    sans-serif, 
    "Apple Color Emoji", 
    "Segoe UI Emoji", 
    "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
  font-family: /* serif system fonts */
    Cambria, 
    Times, 
    Times New Roman, 
    serif;
}

h1 {
  font-size: 2em; /* for some reason, standard h1 is smaller than h2 */
}

pre, code {
  white-space: pre-wrap; /* pre doesn't wrap by default */
  
  font-family: /* monospace system fonts */
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  font-size: 0.8em;
}

/* article header adjustments */
article > header {
  padding: 0.5em 0;
}

article > header > h1 {
  margin-bottom: 0;
}

article > header > p.article-subtitle, 
article > header > p.article-meta {
  margin: 0.333em 0;
}

article > header > p.article-subtitle {
  font-weight: bold;
  font-style: italic;
}

article > header > p.article-meta {
  color: gray;
  font-size: 0.8em;
}

article aside {
  border-left: 5px solid goldenrod;
  padding: 5px;

  background-color: lightgoldenrodyellow;

  font-size: 0.8em;
}

article pre, article code {
  background-color: #f0f0f0;
  padding: 0.8em;
}

.current {
  font-weight: bold;
  color: #f3732a; /* same orange as in the profile image */
}

/* conforming to mobile-first dogma */
body {
  display: flex;
  flex-flow: column nowrap;
}

body > header,
body > footer {
  width: 100%; /* no height, flex takes care of that */

  flex-shrink: 0; /* sticks the footer */

  padding: 0.5em 0;

  box-shadow: 0 1px 5px grey;
}

body > header > .container,
body > footer > .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  /* lining up with main */
  margin: 0 auto;
  padding: 0 1em;
}

body > header > .container *,
body > footer > .container * {
  display: inline-block; /* flattening */
  
  margin: 0; /* necessary or alignment goes out of whack */

  text-decoration: none; /* no underlines here */
}

body > header figure, 
body > header figure img.main, 
body > footer figure, 
body > footer figure img.main {
  width: 40px;
  height: 40px;

  border-radius: 20px;
}

body > header img.profile,
body > footer img.profile {
  width: 30px;
  height: 30px;
}

body > header li,
body > footer li {
  list-style: none;
}

body > header li {
  padding-left: 1em;
}

body > main {
  max-width: 800px;

  margin: 0 auto; /* centering */
  align-self: center; /* needed for IE11 to center with flex */

  padding: 0 1em;

  overflow-y: auto;

  flex: 1 0 auto;
}

@media (min-width: 800px) {
  body {
    display: block; /* flex was too finicky */
    max-width: 1000px;

    margin: 0 auto;
  }

  body > header {
    /* undoing mobile-first brainwashing */
    width: 200px;
    height: 100%;

    padding: 2em 0;

    box-shadow: none;

    float: left; /* good ol' float to the rescue! */
  }

  body > header > .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    /* lining up with main */
    max-width: 200px; 
    margin: 0;
  }

  body > header > .container * {
    display: block; /* unsflattening */
    
    margin: 0; /* necessary or alignment goes out of whack */

    text-decoration: none; /* no underlines here */
  }

  body > header figure, 
  body > header figure img.main {
    width: 100px;
    height: 100px;

    padding: 0;
    border-radius: 20px;
  }

  body > header > .container > nav {
    padding: 1em;
  }

  body > header li {
    list-style: none;

    padding: 0 0 0.5em 1em;
    text-align: right;
  }

  body > footer {
    box-shadow: 0 -5px 5px -5px gray;
  }

  body > main {
    max-width: 800px;

    margin-left: 200px; /* header width */

    margin: 0;
    padding: 0;

    overflow-y: auto;
  }
}