<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    
    <meta property="og:type" content="website">
    <meta property="og:image" content="assets/images/profile.jpg">
    <meta property="og:site_name" content="sbrubbles.org">
    <meta property="og:url" content="https://sbrubbles.org">

    {% feed_meta %}
    {% seo %}
	</head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
