---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
    	<p class='subtitle'>{{ page.subtitle }}</p>
    {% endif %}
    <div class='meta'>
      {% if page.author %}
        <small class='separator'>by&nbsp;</small><small>{{ page.author }}&nbsp;</small>
      {% endif %}
  		<small class='separator'>at&nbsp;</small><small><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time>
      </small>
  		{% for license in site.data.licenses %}
  	    {% if license.id == page.license %}
  	      <small class='separator'>&nbsp;licensed as&nbsp;</small>
  	      <a rel="license" href="{{ license.link }}">
  	        <img alt="{{ license.name }}" style="border-width:0" src="{{ license.image_small }}" />
  	      </a>
  	      {% break %}
  	    {% endif %}
  	  {% endfor %}
  	</div>
    {% if page.image != site.data.globals.og_image %}
    <div class="thumbnail">
      <img src="{{site.url}}/{{page.image}}" alt="post thumbnail">
    </div>
    {% endif %}
  </header>

  {{ content }}

  <footer>
    {% if page.tags.size > 0 %}
    <div class='meta'>
      <small class='separator'>tagged as</small>
      {% for tag in page.tags %}
      &nbsp;<a href='/tags.html#tag-{{ tag }}' class='tag'><small>{{ tag }}</small></a>
      {% endfor %}
    </div>
    {% endif %}
  </footer>
</article>